<section>
  <div class="container">
    <div class="row justify-content-center  pt-5 mr-1">
      <div class="col-md-4 form mt-4">
        <form action="" method="post">
          <div class="form-group text-center pt-3">
            <h1 style="color: #fff;">INICIAR SESIÓN</h1>
            <h1><i class="bi bi-person-fill"></i></h1>
          </div>
          <div class="form-floating mb-2 pb-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="">
            <label for="floatingInput">Ingresar usuario <i class="bi bi-person-fill"></i> </label>
          </div>
          <div class="form-floating pb-3">
            <input type="password" class="form-control" id="password" placeholder="">
            <label for="password">Ingresar Contraseña <i class="bi bi-lock-fill"></i> </label>
          </div>
          <div class="mt-2 mx-sm-4 pb-5">
            <input type="submit" class="btn btn-block ingresar w-100" value="INGRESAR">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
